body{
	padding: 0em;
	margin: 0em;
	background-color: #cee6b4;
}

#header{
	width: 100%;
	text-align: center;
}

#header > h1{
	margin: 0em;
}

#header > p{
	margin-top: 0em;
}

#survey-form{
	width: 50%;
	margin: 0em auto;
	border-radius: 15px;
	background-color: #9ecca4;
	padding: 1.5em;
	padding-bottom: 0.5em;
}

.box{
	width: 100%;
	box-sizing: border-box;
	margin: 0.5em 0em;
	padding: 0.3em;
	font-size: 1rem;
	border-radius: 7px;
}

.label{
	font-size: 2rem;
}

.field-style {
	margin-top: 1rem;
}

.label2 {
	font-weight: bold;
	font-size: italic;
}

#submit:hover {
	border: 0.3em solid black;
}

#reset:hover {
	border: 0.3em solid black;
}

#footer{
	text-align: center;
}
#footer > p {
	margin-bottom: 0em;
}